body {
	font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
	color: #333;
	background-color: #F5F5F5;
	text-rendering: optimizeLegibility;
	margin: 0 auto;
	padding: 20px;
}

a {
	color: #333;
	-webkit-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
}

a:hover {
	text-shadow: #999 0px 0px 1px;
}

s {
	color: #DDD;
	text-shadow: none;
}

/*
 Container for the whole page.
*/
#container {
	width: 900px;
	margin: 0 auto;
}

/*
 Otherwise, linked images would have borders in Firefox.
*/
img {
	border: none;
}

/*
 Wrapper around the header text.
*/
#headercontainer {
	float: left;
	width: 300px;
}

/*
 Wrapper around the download links.
*/
#downloadContainer {
	padding-top: 50px;
	float: right;
}

/*
 Stops downloads from being bold and blue.
*/
a.download {
	text-decoration: none;
	color: #000;
}

h1 {
	font-family: Futura, "Helvetica Neue", Helvetica, Arial, san-serif;
	font-size: 32pt;
	text-shadow: #999 1px 1px 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
	font-size: 18pt;
	text-shadow: #999 0px 0px 2px;
}

ul {
	padding-left: 0px;
}

li {
	list-style-type: none;
	font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
}

#steps {
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

/*
 A single step in the tutorial.
*/
.step {
	padding-top: 20px;
	float: left;
	height: 240px;
	width: 280px;
	background-color: #D5D5D5;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.2;
	-webkit-transition: opacity 0.8s linear;
	-moz-transition: opacity 0.8s linear;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#activeStep {
	opacity: 1;
}

/*
 Forces screenshots to the same size.
*/
.screenshot {
	width: 250px;
	height: 150px;
}

/*
 Copy for tutorial steps.
*/
.step p {
	margin: 0 auto;
	text-align: left;
	padding: 10px;
	
}

span.code {
	font-family: Monaco, "Courier New", Courier, monospace;
}

.press {
	float: left;
	margin-left: 70px;
}

/*
 class for <p> elements in the press.
*/
.triangle-isosceles {
	font-family: "Georgia", serif;
	font-size: 12pt;
	position:relative;
	padding:15px;
	margin-bottom: 5px;
	color:#000;
	background:#DDD; /* default background for browsers without gradient support */
	
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#D0D0D0));
	background:-moz-linear-gradient(top, #DDDDDD, #D0D0D0);
	background:-o-linear-gradient(top, #DDDDDD, #D0D0D0);
	width: 180px;
	height: 100px;
}

/*
 The actual triangle in the speech bubble.
*/
.triangle-isosceles:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-15px; /* value = - border-top-width - border-bottom-width */
	left:130px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#D0D0D0 transparent;
}

.pressQuote {
	font-family: "Georgia", serif;
}

.pressSource {
	float: right;
	bottom: 0;
	padding-right: 30px;
}

/*
 This is all for workflows/index.html
*/
#workflowscontainer {
	background-color: #DDD;
	padding: 10px;
	width: 600px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

#workflows li {
	list-style-position: outside;
	margin-left: 90px;
	width: 500px;
	margin-bottom: 40px;	
}

#workflows li p {
	font-weight: bold;
	float:right;
	margin:0;
	padding:0 0 0 20px;
}

#youtube_workflow {
	list-style-image: url("youtube.png");
}

#iTunes_workflow {
	list-style-image: url("iTunes.png");
}

#uTorrent_workflow {
	list-style-image: url("uTorrent.png");
}

#dropbox_workflow {
	list-style-image: url("dropbox.png");
}

#hazel_workflow {
	list-style-image: url("hazel.png");
}

#prowl_workflow {
	list-style-image: url("growl.png");
}
